
<div class="card mb-3">
  <h3 *ngIf="channel != null" class="card-header">{{group.group}} - {{channel.channel}}</h3>
  <h3 *ngIf="channel == null" class="card-header">Chat</h3>
  <div class="card-body" style="height: 500px; overflow-y:scroll">
    <div class="card-text" *ngFor="let message of messageArray">
      <span><strong>{{message.user}} : </strong>{{message.message}}</span>
      
    </div>


  </div>
  <div class="card-footer text-muted">
    <div class="form-inline">
        <input class="form-control" style="width:calc(100% - 100px)" placeholder="Aa" [(ngModel)]="message">
        <button class="btn btn-primary" (click)="enteredMessage()"style="width:100px">enter</button>
    </div>
  </div>
</div>
